<script type="text/x-handlebars-template" id="template"></script>
<div class="w-50 p-5 my-4 firstContainer">
    <div class="alert alert-primary" role="alert">
        Hasta luego Daniel!
    </div>
</div>
<script src="/ui.js" type="module"></script>
<script src="/index.js" type="module"></script>