<script type="text/x-handlebars-template" id="template"></script>
<div class="w-50 p-5 my-4 firstContainer">
    <h3 class="mb-4 text-center">Login de Usuario</h3>
    <form id="formElement">
        <div class="d-grid col-10 mb-3 mx-auto">
            <label for="inputName" class="form-label fw-bold">Ingrese su nombre:</label>
            <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" autofocus>
        </div>
        <div class="d-grid col-10 mb-3 mx-auto">
            <button type="button" id="btnLogin" class="btn btn-success">Ingresar</button>
        </div>
    </form>
</div>
<script src="/ui.js" type="module"></script>
<script src="/index.js" type="module"></script>